[Unit]
Description=First Boot Script
After=network.target

[Service]
Type=oneshot
User=root
ExecStart=/usr/bin/firstboot.sh
ExecStartPost=/bin/systemctl disable %n

[Install]
WantedBy=multi-user.target
