[Unit]
Description=First Boot Script
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/webui
ExecStartPre=/usr/bin/npm install
ExecStart=/usr/bin/npm run build
ExecStartPost=/usr/bin/chown -vR pibot:pibot /opt/webui /opt/data /opt/switch-control
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
