[Unit]
Description=NPM Build
After=network.target
After=firstboot.service
#FailureAction=reboot

[Service]
Type=simple
User=pibot
Group=pibot
WorkingDirectory=/opt/webui
ExecStart=/bin/bash -c "/usr/bin/npm install && /usr/bin/npm run build"
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
