[Unit]
Description=Initialise USB Gadget mode
After=network.target
Before=pibot-backend.service

[Service]
Type=oneshot
ExecStart=/usr/bin/usbgadget.sh
RemainAfterExit=yes
Restart=no

[Install]
WantedBy=multi-user.target