[Unit]
Description=Initialise USB Gadget mode
After=network.target
Before=pibot-backend.service

[Service]
Type=oneshot
ExecStart=/opt/switch-pi-bot/usbgadget.sh

[Install]
WantedBy=multi-user.target