[Unit]
Description=Capture Card Stream Service
After=network.target
After=firstboot.service

[Service]
User=pibot
Group=pibot
ExecStart=/usr/bin/ustreamer --log-level 3 -q 100 -r 1920x1080 -m mjpeg -f 30 --host=0.0.0.0 --port=8080 -c NOOP
Restart=on-failure

[Install]
WantedBy=multi-user.target